<div class="custom-wrapper">
  <form [formGroup]="countryForm" (ngSubmit)="onSubmit()">
    <div class="mva10-o-layout">
      <div class="mva10-o-layout__item mva10-u--1/8">
        <app-select [text]="countriesSelect.text" [options]="countriesSelect.options"
          (selectedValue)="getCountry($event)"></app-select>
      </div>
      <div class="mva10-o-layout__item mva10-u--1/8">
        <div>
          <app-select [text]="dateInitList.text" [options]="dateInitList.options"
          (selectedValue)="getDate($event)"></app-select>
        </div>
      </div>
      <div class="mva10-o-layout__item mva10-u--1/8">
        <div>
          <mva10-c-button [body]="'Search'" (mva10OnClick)="onSubmit()" [name]="'name'" [title]="'title'" [type]=""
            [disabled]="false"></mva10-c-button>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="showResult" class="mva10-o-layout">
    <div class="mva10-o-layout__item mva10-u--1/8">
      <div>
        Formatear resultados
      </div>
    </div>
  </div>
</div>
