{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "useTabs": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "quoteProps": "as-needed",
    "arrowParens": "always",
    "printWidth": 140
}
