.vfes-select {
	position: relative;
	display: inline-block;
	width: 80%;
}

.vfes-select .vfes-select-button {
	width: 100%;
	cursor: pointer;
	position: relative;
	height: 50px;
	font-size: 20px;
	color: #666;
	font-weight: 700;
	border: 1px solid #999;
	border-radius: 0;
	-webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);
	margin-bottom: 0;
	background-color: #fff;
	z-index: 10;

	&_disabled {
		background-color: #ebebeb;
		cursor: not-allowed;
	}
}

.vfes-select .vfes-select-text {
	padding: 0 3.75rem 0 1.25rem;
}

.vfes-select-text {
	display: block;
	padding: 0.3125rem 21% 0.3125rem 0.625rem;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
	max-height: 1.9375rem;
}

.vfes-select .vfes-select-text:after {
	content: '\f1af';
	width: 3rem;
	font-family: 'VodafoneIcon';
	right: 0;
	font-size: 1rem;
	line-height: 55px;
	vertical-align: middle;
	font-weight: inherit;
	font-style: normal;
	text-decoration: inherit;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	text-indent: initial;
	background: #ebebeb;
}

.vfes-select-text:after {
	content: '';
	display: block;
	height: 100%;
	width: 0.0625rem;
	background-color: #333;
	position: absolute;
	right: 1.9375rem;
	top: 0;
	z-index: 10;
}

.vfes-select .vfes-select-list {
	border-color: #999;
}

.vfes-select-list {
	width: 80%;
	padding: 0;
	background-color: #fff;
	border-top: 0;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-radius: 0 0 3px 3px;
	left: 0;
	z-index: 11;
	box-shadow: none;
	overflow: hidden;
	min-width: 0;
	margin: -3px 0 0;
	max-height: none;
}

.dropdown-menu {
	float: left;
	position: absolute;
	min-width: 100%;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;

	li a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: 400;
		line-height: 1.42857;
		color: #333;
		white-space: nowrap;
	}
}

.vfes-select .vfes-select-option {
	padding: 0 0 !important;
	font-size: 1.25rem;
}

.vfes-select-option {
	display: block;
	padding: 0.3125rem 0.625rem !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	height: 2rem;
	overflow: hidden;
	background-color: #fff;
	color: #333;
	font-size: 1rem;
	line-height: 1.125rem;
	cursor: pointer;
}

.no_decoration {
	text-decoration: inherit;

	:hover {
		background-color: #ebebeb;
	}
}
