<div class="custom-wrapper">
  <div class="mva10-o-layout header_layout">
    <div class="mva10-o-layout__item mva10-u--1/1">
      <div>
        <p class="mva10-u-heading--4">
          <img src="../../../../assets/img/jest.png" class="width30" alt="">
          Taller Unit Testing con Jest</p>
      </div>
    </div>
  </div>
</div>
<div class="custom-wrapper">
  <div class="mva10-o-layout sub_header_layout">
    <div class="mva10-o-layout__item mva10-u--1/2">
      <div>
        <img src="../../../../assets/img/earth.png" class="width30" alt="">
        <a href="/country" class="menu_option">Country</a>
      </div>
    </div>
    <div class="mva10-o-layout__item mva10-u--1/2">
      <div>
        <img src="../../../../assets/img/region.png" class="width30" alt="">
        <a href="/region" class="menu_option">Region</a>
      </div>
    </div>
  </div>
</div>
