.header_layout {
	padding: 20px 20px 0 20px;
	background-color: #e60000;
	color: #ffffff;
	text-align: center;
}

.sub_header_layout {
	padding: 20px 20px 0 20px;
	background-color: #cccccc;
	text-align: center;
	margin-bottom: 30px;
}

.menu_option {
	text-decoration: inherit;
	font-size: 20px;
}

.width30 {
	width: 30px;
}
